/*raiz para setar as cores*/
:root{
    --preto: #c2a7a7;
    --cinza: #3c3c3c;
    --branco: #ffffff;
    --azulClaro: #2ec4b6;
    --amarelo: #ff9f1c;
    --amareloClaro: #ffbf69;
}

/*reseta tudo*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{ /*cor de fundo da tela*/
    background-color: white;
}

/*MENU*/
header .container-header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    background-color: white;
    padding-left: 50px;
    padding-right: 100px;
}


header nav a{/*tira o sublinhado, cor da letra e cor de fundo em volta da letra*/
    text-decoration: none;
    margin-right: 20px;  
    color: black;
    padding: 10px 20px;
}

header nav a:hover{/*para mudar a borda quando o mouse ficar encima do botão. FIM DO MENU*/
    border: 1px solid var(--amarelo);
    border-radius: 5px;

}


#background { /*especificando a largura da imagen e centralizando ela*/
    display:block;
    position: relative;
    width: 100%;
}

/*inico do e-mail e botão*/
#cadastro {
    position: relative;
    margin:  auto 0;
    width: 100%;
}

#cadastro img{
    width:100%;
    height: 400px;
    object-fit: cover;
}

.botaoCadastro { /*centralizado o botão e algumas aplicações css*/
    position: absolute;
    left: 10%;
    top: 20%;
    background-color:  #fcfcfc3d;
    padding: 20px;
    border-radius: 10px;
    width: 350px;

}

.botaoCadastro h4{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
}

.botaoCadastro h2{
    margin-bottom: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botaoEntrar{
    border: 1px solid var(--amarelo);
    border-radius: 5px;
    padding: 10px;
}

.botaoEntrar:hover{
    background-color: var(--amarelo);
}

.botao{
    background: #fcfcfc69;
    background-color: #fcfcfc69;
}
.botao:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
input[type=email]{ 
    width: 200px;
    height: 40px;
    background-color: #fcfcfc69;
    border-radius: 5px;
    color: #3c3c3c;
    font-size: 16px;
}

input[type=submit]{ 
    background: #fcfcfc69;
    background-color: #fcfcfc69;
    width: 100px;
   height: 40px;
   border-radius: 5px;
   color:#3c3c3c;
}


span{ /*cor vermelha antes do produto*/
    color: red;
}
 .caixas{   /*para as caixas ficarem no centro*/
    align-items: center;  
 }
/**/

.caixas h1{
    margin-top: 30px;
    margin-left: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {/*para todos os produtos ocuparem a pagina toda ?*/
    width: 100%;
    padding-left: 0px;
    text-align: center;
} 

ul li { /*pega cada produto deixa na horizontal, da espaçamento tanto dentro como fora, centraliza o texto e as bordas brancas ao redor*/
    position: relative;
    /*list-style: none;*/
    display: inline-block;
    padding: 25px 2px;
    width: 20%;
    /*text-align: center;*/
    margin: 20px 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


ul li img{
    position: relative;
    width: 270px;
    height: 400px;
    border-radius: 15px;
    object-fit:cover;
    align-content: center ;
    margin:20px;
    box-shadow: 5px 5px 5px #CCC8C6 ;

}

.imagem:hover {/*clando o mose passar pela imagens do produto, vai ficar com um fundo trasparente*/
    opacity: 0.5;
    
}

footer{
    text-align: center;
    background-color: rgb(184, 214, 253);
    margin-top: 30px;
}

footer div{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}



